html
  head
    title= title
    link(rel="stylesheet", href="styles.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body
    h1 Oh no! Something went wrong!
    h3 #{error}